<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | CryptoMind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Orbitron:wght@600&display=swap" rel="stylesheet">

  <!-- W3.CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/login.css">
  
</head>
<body>

  <div class="login-card w3-animate-opacity">
    <h2>CryptoMind Admin</h2>

    <form method="POST" action="/login" class="w3-container">

      <p>
        <label>Email</label>
        <input class="w3-input w3-round-large w3-margin-bottom" type="email" name="correo" placeholder="Enter your email" required>
      </p>

      <p>
        <label>Password</label>
        <input class="w3-input w3-round-large w3-margin-bottom" type="password" name="contrasena" placeholder="••••••••" required>
      </p>

      <button class="w3-button w3-round-large w3-block login-btn" type="submit">Log In</button>
    </form>
    <img src="/images/logo.png" alt="CryptoChicks Logo" class="center-img" width="30%">
  </div>

</body>
</html>
