<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
  <title>Dashboard - Jugadores</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- W3.CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/backup.css">

</head>

<% if (showNavbar) { %>
  <%- include ('./components/navbar.ejs') %>
<% } %>

<body>
  <div class="contain-btn">
    <button class="btn" onclick="download()">Descargar Respaldo</button>
  </div>
  <script>
    function download() {
      window.location.href = "/backup/download";
    }
  </script>
</body>
</html>
