<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CryptoMind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
</head>
 
   <% if (showNavbar) { %>
      <%- include ('./components/navbar.ejs') %>
    <% } %>


<body class="w3-display-container">
    
   

  <div class="overlay w3-display-middle w3-center">
    <h1 class="logo-text">CryptoMind</h1>
    <a href="/dashboard" class="w3-button w3-round-xxlarge cta-button">Enter Dashboard</a>
  </div>

</body>
</html>
