body {
  font-family: 'Orbitron', sans-serif;
}

.table-container {
  overflow-x: auto;
  margin: 30px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

.chart-wrapper {
  flex: 1 1 400px;
  min-width: 300px;
  max-width: 600px;
}

.full-width-chart {
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
  margin: 40px auto;
}

.big-margin {
  margin-top: 75px; 
}